<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<h1>Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
	<td>&emsp;</td>
	<td>&emsp;</td>
      <th>Tipo</th>
	<td>&emsp;</td>
	<td>&emsp;</td>
      <th>Estado</th>
	<td>&emsp;</td>
	<td>&emsp;</td>
      <th>Descrição</th>
      <thcolspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= produto.tipo %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= produto.estado %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= produto.descricao %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= link_to 'Mostrar', produto %></td>
	<td>&emsp;</td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
	<td>&emsp;</td>
        <td><%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Tem certeza que quer excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_produto_path %>
