<!DOCTYPE html>
<html>
  <head>
    <title>Ep3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">
       <%= link_to "Dia De Doar", '/', id: "logo" %>
       <nav>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="/">Página inicial</a></li>
           <li><a href="/products">Produtos</a></li>
           <li><%= link_to "Categorias",   '#' %></li>
           <li><a href="como_funciona/index">Como Funciona</a></li>
           

	        <% if user_signed_in? %>
		        <li><%= link_to "Deslogar", destroy_user_session_path, method: :delete %></li>
		<% else %>
		        <li><a href="/users/sign_up">Cadastrar</a></li>
		        <li><a href="/users/sign_in">Entrar</a></li>
		        <% end %>
           
         </ul>
       </nav>
     </div>
   </header>
   <div class="container">
     <%= yield %>
  </body>
</html>
